body {
  background-color: rgba(25, 25, 76, 0.2);
  color: #19194C;
  font-size: 16px;
  font-family: helvetica, sans-serif;

}

h1 {
  font-size: 2em;
  margin-top: .75em;
  margin-bottom: .75em;
  text-transform: capitalize;
}

p {
  font-size: 100%;
  line-height: 135%;
  margin-bottom: 1.2em;
}

figcaption {
  font-size: .85em
}

h3 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

nav {
  background-color: rgba(25, 25, 76, 0.3);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #19194C;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
